@import "./reset";
@import url("https://use.typekit.net/pkw1mig.css");

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

.vimeo {
  width: 100%;
  height: 100vh !important;
  @media screen and (min-width: 1025px) {
    height: 100% !important;
  }
}
.vimeo iframe {
  width: 100%;
  height: 100%;
}

body {
  background: black;
}